{% extends 'base.html' %}
    
{% block content %}

        <br><br>
        <!-- listar_arquitectos.html -->
        {% for architect in architects %}
            <div class="container">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ architect.image.url }}" class="img-fluid rounded-start" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> {{architect.name}} </h5>
                                <p class="card-text"> {{architect.qualification}} </p>
                                <p class="card-text"> {{architect.positions}}</p>
                                <p class="card-text"> {{architect.experience}}</p>
                                <p class="card-text"> {{architect.email}}</p>
                                <p class="card-text"> {{architect.city}}</p>
        
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <br>
        <div class="text-center"> 
            <p>Sos arquitecto y queres aparecer en nuestra pagina?</p> 
            <a class="btn btn-outline-dark mt-auto" href="{% url 'register' %}">Registrate</a>
        </div>
        
 
{% endblock %}
