{% extends 'base.html' %}
    
{% block content %}

        <!-- listar_fachadas.html -->
        <form method="get" action="{% url 'fachadas' %}">  
            <label for="categoria">Categoría:</label>
            <select name="categoria">
                <option value="">Todas</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filtrar">
        </form>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    

                    {% for face in faces %}

                        <div class="col mb-5">
                            <div class="card h-100 position-relative">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ face.image.url }}" alt="..." />
                                
                                <!-- Favorite icon -->
                                <button class="btn btn-link position-absolute top-0 end-0 m-2" id="addToFavorites" value="{{ face.id }}">
                                    {% if face.favorito %}
                                        <i class="fas fa-heart text-danger"></i> <!-- Cambia a rojo si es favorito -->
                                    {% else %}
                                        <i class="far fa-heart"></i>
                                    {% endif %}
                                </button>
        
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <br>
                                    <button class="btn btn-secondary" id="addCart" value="{{ face.id }}"> Agregar al carrito </button>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}


                </div>
            </div>
        </section>
        <script>
            // Check if botton pressed
            $(document).on('click', '#addCart', function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{% url "cartAdd" %}',
                    data: {
                        productId: $('#addCart').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'post'
                    },
        
                    success: function(json){
                        //console.log(json)
                        document.getElementById('cartquantity').textContent = json.qty
                        location.reload();
                    },
        
                    error: function(hhr, errmsg, err){
                        
                    }
        
                });
        
            })
        </script>   
{% endblock %}