{% extends 'base.html' %}
    
{% block content %}

        <!-- listar_fachadas.html -->
        <div class="container mt-4">
            <div class="row justify-content-center">
                {% for category in categories %}
                    <div class="col-md-1">
                        <div class="text-center mb-1">
                            <p class="mb-1">{{ category.name }}</p>
                            {% if category.name == "CASA" %}
                                <i class="fa-solid fa-house-chimney fa-2x"></i>
                            {% elif category.name == "DUPLEX" %}
                                <i class="fa-solid fa-building fa-2x"></i>
                            
                            {% elif category.name == "TRIPLEX" %}
                                <i class="fa-solid fa-tree-city fa-2x"></i>
                            
                            {% elif category.name == "MANSION" %}
                                <i class="fa-solid fa-city fa-2x"></i>
                            
                            {% elif category.name == "CHALET" %}
                                <i class="fa-solid fa-building-wheat fa-2x"></i>
                            
                            {% elif category.name == "CABAÑA" %}
                                <i class="fa-solid fa-house-chimney-window fa-2x"></i>
                            
                            {% elif category.name == "PEQUEÑA" %}
                                <i class="fa-solid fa-tent fa-2x"></i>
                            
                            {% elif category.name == "ESQUINA" %}
                                <i class="fa-solid fa-arrow-right-to-city fa-2x"></i>
                            
                            {% elif category.name == "EDIFICIO" %}
                                <i class="fa-solid fa-hotel fa-2x"></i>
                            {% endif %}
                            <br>
                            <!--<input type="button" name="categoria" value="{{ category.id }}">-->
                            <button type="button" class="btn btn-primary" onclick="redirectToCategory('{{ category.id }}')"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    

                    {% for face in faces %}

                        <div class="col mb-5">
                            <div class="card h-100 position-relative">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ face.image.url }}" alt="..." />
                                
                                <!-- Favorite icon -->
                                <button class="btn btn-link position-absolute top-0 end-0 m-2" id="addToFavorites" value="{{ face.id }}">
                                    {% if face.favorito %}
                                        <i class="fas fa-heart text-danger"></i> <!-- Cambia a rojo si es favorito -->
                                    {% else %}
                                        <i class="far fa-heart"></i>
                                    {% endif %}
                                </button>
        
                                <!-- Product actions-->
                                
                            </div>
                        </div>
                        
                    {% endfor %}


                </div>
            </div>
        </section>


        <script>
            function redirectToCategory(categoryId) {
                window.location.href = '/fachadas/?categoria=' + categoryId;
            }
        </script>

{% endblock %}