{% extends 'base.html' %}
    
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-1">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Plano Ya</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Elegi tu casa ideal <br> paga como mas te convenga <br> contacta con el mejor arquitecto para tu proyecto <br> todo a un solo unos clics de distancia</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <p> Precio $99.99 </p>
                    <br>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    
                    {% for product in products %}
                        
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image as a link -->
                                <a href="{% url 'product' product.id %}">
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                </a>  
                            </div>
                        </div>

                    {% endfor %}
                    <br>
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'products' %}">Ver todos los Planos</a></div>

                </div>

            </div>
        </section>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <p> Precio $0 </p>
                    
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    {% for face in faces %}
        
                        <div class="col mb-5">
        
                            <div class="card h-100 position-relative">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ face.image.url }}" alt="..." />
                                
                                <!-- Favorite icon -->
                                <button class="btn btn-link position-absolute top-0 end-0 m-2" id="addToFavorites" value="{{ face.id }}">
                                    {% if face.favorito %}
                                        <i class="fas fa-heart text-danger"></i> <!-- Cambia a rojo si es favorito -->
                                    {% else %}
                                        <i class="far fa-heart"></i>
                                    {% endif %}
                                </button>
        
                                <!-- Product actions-->
                                <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <br>
                                    <button class="btn btn-secondary" id="addCart" value="{{ face.id }}"> Agregar al carrito </button>
                                </div> -->
                            </div>
                        </div>
                        
                    {% endfor %}
                    <br>
        
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'fachadas' %}">Ver todas las Fachadas</a></div>
                    
                </div>
            </div>
        </section>
        
        <!-- Section-->
        <section class="py-5">
            
            <div class="container px-4 px-lg-5 mt-5">
                <p> Precio $0 </p>
                    
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    {% for architect in architects %}

                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ architect.image.url }}" alt="..." />
                                <br>
                                <p class="card-text"> {{architect.qualification}}, {{architect.name}} </p>
                                <p class="card-text"> {{architect.positions}}</p>
                                <p class="card-text"> {{architect.experience}}</p>
                                <p class="card-text"> {{architect.email}}</p>
                                <p class="card-text"> {{architect.city}}</p>
                                    
                            </div>
                        </div>
                        
                    {% endfor %}
                    <br>

                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'architects' %}">Ver todos los Arquitectos</a></div>
                    
                </div>

            </div>
        </section>    

       
{% endblock %}