{% extends 'base.html' %}
    
{% block content %}


        <!-- listar_planos.html -->
        <form method="get" action="{% url 'products' %}">  
    
            <br>
            <div class="container mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <div class="text-center mb-2">
                            <p class="mb-1">Ancho del terreno:</p>
                            <i class="fa-solid fa-arrows-left-right-to-line fa-2x"></i>
                            <br>
                            <select name="ancho_terreno">
                                <option value="">Todas</option>
                                <option value="1">hasta 10m</option>
                                <option value="2">entre 10 y 20m</option>
                                <option value="3">Entre 20 y 30m</option>
                                <option value="4">Entre 30 y 40m</option>
                                <option value="5">Entre 40 y 50m</option>
                                <option value="6">Entre 50 y 60m</option>
                                <option value="7">Entre 60 y 70m</option>
                                <option value="8">Entre 70 y 80m</option>
                                <option value="9">Entre 80 y 90m</option>
                                <option value="10">Entre 90 y 100m</option>
                            </select>
                            
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="text-center mb-2">
                            <p class="mb-1">Metros cuadrados:</p>
                            <i class="fa-solid fa-maximize fa-2x"></i>
                            <br>
                            <select name="metros_cuadrados">
                                <option value="">Todas</option>
                                <option value="1">hasta 10m2</option>
                                <option value="2">entre 10 y 20m2</option>
                                <option value="3">Entre 20 y 30m2</option>
                                <option value="4">Entre 30 y 40m2</option>
                                <option value="5">Entre 40 y 50m2</option>
                                <option value="6">Entre 50 y 60m2</option>
                                <option value="7">Entre 60 y 70m2</option>
                                <option value="8">Entre 70 y 80m2</option>
                                <option value="9">Entre 80 y 90m2</option>
                                <option value="10">Entre 90 y 100m2</option>
                            </select>
                            <!-- <input type="number" name="metros_cuadrados" class="form-control" placeholder="meros cuadrados"> -->
                        </div>
                    </div>
            
            
                    <div class="col-md-2">
                        <div class="text-center mb-2">
                            <p class="mb-1">Dormitorios</p>
                            <i class="fas fa-bed fa-2x"></i>
                            <br>
                            <select name="dormitorios">
                                <option value="">Todas</option>
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                                <option value="4"> 4 </option>
                                <option value="5"> 5 </option>
                                <option value="6"> 6 </option>
                                <option value="7"> 7 </option>
                                <option value="8"> 8 </option>
                                <option value="9"> 9 </option>
                                <option value="10"> 10 </option>
                            </select>
                            <!-- <input type="number" name="dormitorios" class="form-control" placeholder="cantidad"> -->
                        </div>
                    </div>
            
                    
                    <div class="col-md-2">
                        <div class="text-center mb-2">
                            <p class="mb-1">Pisos</p>
                            <i class="fa-regular fa-building fa-2x"></i>
                            <br>
                            <select name="pisos">
                                <option value="">Todas</option>
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                                <option value="4"> 4 </option>
                                <option value="5"> 5 </option>
                                <option value="6"> 6 </option>
                                <option value="7"> 7 </option>
                                <option value="8"> 8 </option>
                                <option value="9"> 9 </option>
                                <option value="10"> 10 </option>
                            </select>
                            <!-- <input type="number" name="pisos" class="form-control" placeholder="cantidad"> -->
                        </div>
                    </div>
            
                </div>
            </div>
            
            <br>
            
            <div class="text-center mt-3">
                <input type="submit" class="btn btn-primary" value="Filtrar">
            </div>
            <br>

            <div class="container mt-4">
                <div class="row justify-content-center">
                    {% for category in categories %}
                        <div class="col-md-1">
                            <div class="text-center mb-1">
                                <p class="mb-1">{{ category.name }}</p>
                                {% if category.name == "CASA" %}
                                    <i class="fa-solid fa-house-chimney fa-2x"></i>
                                {% elif category.name == "DUPLEX" %}
                                    <i class="fa-solid fa-building fa-2x"></i>
                                
                                {% elif category.name == "TRIPLEX" %}
                                    <i class="fa-solid fa-tree-city fa-2x"></i>
                                
                                {% elif category.name == "MANSION" %}
                                    <i class="fa-solid fa-city fa-2x"></i>
                                
                                {% elif category.name == "CHALET" %}
                                    <i class="fa-solid fa-building-wheat fa-2x"></i>
                                
                                {% elif category.name == "CABAÑA" %}
                                    <i class="fa-solid fa-house-chimney-window fa-2x"></i>
                                
                                {% elif category.name == "PEQUEÑA" %}
                                    <i class="fa-solid fa-tent fa-2x"></i>
                                
                                {% elif category.name == "ESQUINA" %}
                                    <i class="fa-solid fa-arrow-right-to-city fa-2x"></i>
                                
                                {% elif category.name == "EDIFICIO" %}
                                    <i class="fa-solid fa-hotel fa-2x"></i>
                                {% endif %}
                                <br>
                                <!--<input type="button" name="categoria" value="{{ category.id }}">-->
                                <button type="button" class="btn btn-primary" onclick="redirectToCategory('{{ category.id }}')"></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            

        </form>
        

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    

                    {% for product in products %}

                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image as a link -->
                                <a href="{% url 'product' product.id %}">
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                </a>
                                <p class="card-text"> Ancho: {{product.width}} m</p>
                                <p class="card-text"> Area: {{product.dimension}} m2</p>
                                <p class="card-text"> Cantidad de habitaciones: {{product.cantRoom}}</p>
                                <p class="card-text"> Cantidad de pisos: {{product.cantFloor}}</p>
                                <p class="card-text"> Categoria: {{product.category}}</p> 
                            </div>
                        </div>
                        
                    {% endfor %}


                </div>
            </div>
        </section>

        <script>
            function redirectToCategory(categoryId) {
                window.location.href = '/products/?categoria=' + categoryId;
            }
        </script>

{% endblock %}