{% extends 'base.html' %}
    
{% block content %}


        <!-- listar_planos.html -->
        <form method="get" action="{% url 'products' %}">  
            
            <label for="ancho_terreno">Ancho del terreno:</label>
            
            <label for="metros_cuadrados">Metros cuadrados:</label>

            <label for="dormitorios">Dormitorios:</label>
            
            <label for="pisos">Pisos:</label>
            

            <br>
            <input type="number" name="ancho_terreno">
            <input type="number" name="metros_cuadrados">
            <input type="number" name="dormitorios">
            <input type="number" name="pisos">

            <input type="submit" value="Filtrar">
            
            <br>

            <label for="categoria">Categoría:</label>
            <select name="categoria">
                <option value="">Todas</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>

        </form>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    

                    {% for product in products %}

                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image as a link -->
                                <a href="{% url 'product' product.id %}">
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                </a>  
                            </div>
                        </div>
                        
                    {% endfor %}


                </div>
            </div>
        </section>
       
{% endblock %}